    /* CSS Document */

 
  @import url('https://fonts.googleapis.com/css2?family=Itim&family=Oswald&family=Playfair+Display&display=swap');

/* font-family: 'Itim', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}




body {
    background-color: #e4f2ea;
}

header h1 {
    font-size: 7em;
    color: #e4f2ea;
    margin-left: 8%;
}

header h2 {
    font-size: 2.5em;
    color: #e4f2ea;
    margin-left: 7%;
}

.hnav {
    width: 100%;
    background-color: #11181e;
    min-height: 50px;
    text-align: center;
}

.hnav ul {
    display: block;
    padding-top: .5em;
}

.hnav ul li {
    display: inline-block;
    list-style-type: none;
    width: 10%;
    padding: 0 2%;
}

.hnav a {
    test-decoration: none;
    color: #e4f2ea;
    font-size: 1.4em;
    font-weight: bold;
}

.hnav a:hover {
    background-color: #A68160;
    color: #11181e;
    
}

header {
    min-height: 400px;
    background-color: #734f2f;
    background-image: url("../images/appearance_beagle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
    font-family: 'Playfair Display', serif;
}

main {
    width: 100%;
    min-height: 500px;
}

main p {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
}

#container {
    margin: 0 auto;
    width: 80%;
    min-height: 500px;
    font-size: 1.7em;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
/*    background-color: red; */
}

#container img {
    margin: 0 auto;
    border: 20px double #734f2f;
    border-radius: 10px;
    max-height: 475px;
    max-width: 100%;
}

#container p {
    font-size: .8em;
}

#appearance img {
    border: 20px double #734f2f;
    border-radius: 10px;
    max-height: 475px;
    max-width: 100%;
}

#history img {
    margin-left: 30%;
    border: 10px solid brown;
}
    

#history p {
    margin: 0 10%;
    border-style: none;
}

#popularity {
    
}

#popularity img {
    float: left;
    border: 20px double brown;
    margin-right: 2%;
}

#popularity p {
    padding: 50px;
    margin-bottom: -5%;
}

.temppic{
    display: block;
    margin: 0 auto;
}

#form {
    margin-left: 10%;
}


h1 {
    
}

h2 {
    
}

blockquote {
    font-family: 'Itim', cursive;
    font-size: 6em;
    color: #734f2f;
    text-align: center;
}

table {
    
}

footer {
    min-height: 300px;
    background-color: #11181e;
    text-align: center;
    color: #e4f2ea;
    padding-top: 5%;
}

.fnav {
    width: 100%;
    background-color: #734f2f;
    min-height: 50px;
    text-align: center;
    padding-bottom:.8em;
    margin-top: 5%;
}

.fnav ul {
    display: block;
    padding-top:.8em;
}

.fnav ul li {
    display: inline-block;
    width: 15%;
    list-style-type: none;
    padding: 0 0.5%;
}

.fnav a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

.fnav a:hover {
    background-color: #A68160;
    color: #11181e;
}
